@import "reset";
@import "variables";

/* globals */
@import "buttons";
@import "forms";

/* partials */
@import "login";

* {
	box-sizing: border-box;
}

html {
	font-size: map-get($font-size, "regular");
}

.wrapper {
	padding: 30px;

	.page-title {
	    font-size: map-get($font-size, "bigger");
	    margin-left: 10px;
	    border-left: 5px solid;
	    padding-left: 10px;
	}
}